---
  description: |
    This config file is designed to work with the workflow factor_workflow.py.

    Note\: yaml format prohibits using tabulations.

    Optional parameters, if not provided, are automatically set to the default value provided with the given program.

  author: "Claire Rioualen"
  qsub: "-V -m a -d ."
  genome:
    organism: "Saccharomyces cerevisiae"
    size: "12500000"                                                                                        # required. if using macs2, macs14, homer...
    version: "sacCer2"                                                                                      # required. has to match genome filenames and directories
    fasta_file: "Saccharomyces_cerevisiae.R64-1-1.30.dna.genome.fa"
    gff3_file: "Saccharomyces_cerevisiae.R64-1-1.30.gff3"
    gtf_file: "Saccharomyces_cerevisiae.R64-1-1.30.gtf"


  metadata:
    samples: "gene-regulation/examples/ChIP-seq_SE_GSE20870/samples.tab"                                    # required. has to contain at least sample ids
    design: "gene-regulation/examples/ChIP-seq_SE_GSE20870/design.tab"                                      # required. has to contain at least ids of pairs of samples to be compared
    configfile: "gene-regulation/examples/ChIP-seq_SE_GSE20870/config.yml"                                  # required for flowcharts generation
    seq_type: "se"

  dir:
    base: "/data/analyses/ChIP-seq_SE_GSE20870"                                                             # required. ALL DIRECTORIES SHOULD BE SPECIFIED RELATIVE TO THE BASE DIRECTORY
    reads_source: "data"                                                                                    # required. dir containing raw data organized in sub directories named after the samples
    fastq: "fastq"
    genome: "genome"                                                                                        # required. where to store genomes
    results: "results"                                                                                      # required. dir for all result files that are produced by the pipeline
    gene_regulation: "gene-regulation"                                                                      # required. location of the libraries

    samples: "results/samples"                                                                              # optional. will hold sample treatment (trimming, alignment, QC...).    If not mentioned, will be config["dir"]["results"]
    peaks: "results/peaks"                                                                                  # optional. will hold comparison data (peak-calling, motifs search...). If not mentioned, will be config["dir"]["results"]
    reports: "results/reports"                                                                              # optional. will hold reports and graphics.                             If not mentioned, will be config["dir"]["results"]

  tools:
    trimming: "sickle"
    mapping: "bowtie2 bwa subread-align bowtie"
    peakcalling: "macs2 homer macs14 spp swembl"
    annotation: "intersect window closest"
    
  fastqc: 
    other_options: ""                                                           # optional (def. empty string)

  sickle:
    threshold: "20"                                                             # optional (def. 20)

  bwa: 
    threads: "10"                                                               # optional. number of threads to speed up calculations (def. 1)

  bowtie2:
    threads: "10"                                                               # optional. number of threads to speed up calculations (def. 1)
    max_mismatches: "1"                                                         # optional (def. 0)

  macs14:
    pval: "0.00001"                                                             # optional (def. 0.00001)
    mfold: "5,30"                                                               # optional (def. 10,30)
    keep_dup: "auto"                                                            # optional (def. auto, else int)
    bandwidth: "300"                                                            # optional (def. 300)
    other_options: "--nomodel"                                                  # optional can include -bdg (time-consuming), -wig (time-consuming), --call-summits (requires PeakSplitter)

  macs2: 
    qval: "0.001"                                                               # optional (def. 0.05)
    keep_dup: "all"                                                             # optional (def. 1)
    mfold_min: "2"                                                              # optional (def. 5)
    mfold_max: "50"                                                             # optional (def. 50)
    other_options: "--call-summits"                                             # optional can include --call-summits, --broad...

  swembl:
    R: "0.05"                                                                   # optional (def. 0)
    N: "1000000"
    x: "1.2"                                                                    # optional (def. 1)

  homer: 
    style: "factor"                                                             # optional (def. factor), can be factor, histone, groseq, tss, dnase, super, mC (beware of output filenames)
    F: "2"                                                                      # optional (def. 4)
    L: "2"                                                                      # optional (def. 4)
    P: "0.01"                                                                   # optional (def. 0.0001)
    fdr: "0.01"                                                                 # optional (def. 0.001)

  spp: 
    fdr: "0.01"                                                                 # optional (def. 0.01)

#  bPeaks: 
#    IPcoeff: "2"                                                                # optional (def. 2)
#    controlCoeff: "4"                                                           # optional (def. 2)
#    log2FC: "1"                                                                 # optional (def. 2)
#    averageQuantiles: "0.8"                                                     # optional (def. 0.9)
#    windowSize: "50"                                                            # optional (def. 150)
#    windowOverlap: "40"                                                         # optional (def. 50)

  peak-motifs: 
    tasks: "all"                                                                                                   # optional (def. "all", incl. purge,seqlen,composition,ref_motifs,disco,meme,chipmunk,merge_words,motifs_vs_ref,motifs_vs_db,timelog,synthesis) (what about collect_motifs,motifs_vs_motifs,archive,small_summary,scan ?...)
    max_seq_len: "0"                                                                                               # default ? curr not used
    motif_db: "Yeastract tf $RSAT/public_html/motif_databases/Yeastract/yeastract_20150629.tf "                 # required. name format db_file
    disco: "oligos,positions,dyads"                                                                                # default ? oligos|dyads|positions|local_words|merged_words|meme|chipmunk


